.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.orig

.svn
.hg
.hgignore

[Dd]ebug/
[Bb]uild/
[Rr]elease/
[Bb]in/
[Oo]bj/
src/[Pp]ackages/

*.aps
*.build.csdef
*.cache
*.ilk
*.lib
*.log
*.meta
*.ncb
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.scc
*.sln.docstates
*.suo
*.tlb
*.tlh
*.tli
*.tmp
*.user
*.vspscc
*.[Pp]ublish.xml
*_i.c
*_p.c
.builds

src/*.Umbraco/App_Data/ClientDependency/
src/*.Umbraco/App_Data/ExamineIndexes/
src/*.Umbraco/App_Data/TEMP/
src/*.Umbraco/App_Data/preview/
src/*.Umbraco/App_Data/umbraco.config
src/*.Umbraco/aspnet_client/
src/*.Umbraco/media/
src/*.Umbraco/imagecache/

*[Rr]e[Ss]harper.user
_ReSharper.*/
