require 'bundler'

begin
  Bundler.require
rescue
  puts "Installing missing dependencies...\n\n"
  sh "bundle install"
  puts "\nFTFY. Please try again."
  exit 1
end

settings do
  client "<%= @name %>"
  css_preprocessor :banshee
  js_preprocessor :banshee
end

project "Umbraco"

define_tasks
